.block-icons {
  display: flex;
  flex: 1 1 0;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-bottom: 20px;
  flex-flow: row wrap;
  justify-content: center;

  @media (min-width: $SM) {
    margin-bottom: 50px;
  }

  @media (min-width: 1330px) {
    h1 {
      font-size: 30px !important;
    }
  }

  a {
    text-decoration: none !important;
  }

  &__block {
    background: #fff;
    color: $SECONDARY;
    font-weight: bold;
    width: 140px;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 5px solid rgba(66, 44, 183, 0.02);

    @media (min-width: $SM) {
      width: 200px;
      font-size: 20px;
      padding: 20px;
    }

    @media (min-width: $MD) {
      width: 150px;
      font-size: 14px;
    }

    @media (min-width: 1550px) {
      width: 240px;
      font-size: 16px;
    }
  }

  &__icon {
    width: 50px !important;
    display: block;
    margin-bottom: 25px;
  }
}
