.register {
  form {
    background: #ece9f8 !important;
  }

  .switch-wrapper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .switch {
      margin: 0 10px;
    }
  }
}
