.world-map-container {
  background: #fff;
  text-align: center;

  h1 {
    margin-bottom: 40px;
  }

  p {
    font-size: 18px;
    font-weight: bold;
  }
}

.world-map {
  margin-top: 50px;

  .map-container {
    position: relative;
    height: 435px;
    margin: 0 auto;
    display: inline-block;
    width: 833px;
    transform-origin: top left;

    @media (max-width: 886px) {
      transform: scale(0.7);
      width: 583px;
      height: 304px;
    }

    @media (max-width: 615px) {
      transform: scale(0.5);
      width: 416px;
      height: 217px;
    }

    @media (max-width: 450px) {
      transform: scale(0.3);
      transform: scale(0.3) translate(50%);
      height: 130px;
    }

    .continent {
      position: absolute;
      cursor: pointer;
      transition: transform 0.5s;
      transform-origin: 50% 50%;
      transform: scale(1);
      z-index: 0;

      &:hover {
        transform: scale(1.1);
        z-index: 3;
        filter: hue-rotate(45deg);
        z-index: 1;

        path {
          fill: #6648c2;
        }
      }

      &__1 {
        left: 0;
        top: 0;
      }

      &__2 {
        left: 140px;
        top: 226px;
      }

      &__3 {
        left: 360px;
        top: 10px;
      }

      &__4 {
        top: 138px;
        left: 338px;
        z-index: 4;
      }

      &__5 {
        position: absolute;
        left: 722px;
        top: 267px;
      }

      &__6 {
        left: 451px;
        top: 3px;
      }
    }
  }

  &__countries {
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
  }

  &__country {
    display: inline-flex;
    padding: 5px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 3px solid rgba(66, 44, 183, 0.05);
    font-size: 18px;
    color: $SECONDARY;
    font-weight: bold;
    align-items: center;
    grid-column-gap: 15px;
    width: 245px;
    text-align: left;

    @media (min-width: $SM) {
      padding: 15px;
    }

    &:hover,
    &--active {
      filter: drop-shadow(15.321px 12.856px 15px rgba(66, 44, 183, 0.05));
      background-image: linear-gradient(50deg, #422cb7 0%, #bd65d5 100%);
      color: #fff;
      text-decoration: none;
      border: none;
      padding: 8px;

      @media (min-width: $SM) {
        padding: 18px;
      }
    }

    img {
      width: 46px;
      height: 46px;
      border: 3px solid rgba(66, 44, 183, 0.05);
      border-radius: 50%;
    }
  }
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.svg {
  width: 100%;
  overflow: visible !important;

  .continent {
    cursor: pointer;
    transition: transform 0.5s;
    transform-origin: 50% 50%;
    transform: scale(1);
    position: relative;

    path {
      stroke-miterlimit: 10;
      transition: fill 0.3s;
      z-index: 2;
    }

    &:hover {
      transform: scale(1.1);
      z-index: 3;
      path {
        // fill: #6648c2;
      }
    }
  }
  .continentBackground {
    cursor: pointer;

    path {
      fill: transparent;
    }
    .continent {
      cursor: pointer;
      transition: transform 0.5s;
      transform-origin: 50% 50%;
      transform: scale(1);

      path {
        fill: #a0a0a0;
        stroke: #fff;
        stroke-miterlimit: 10;
        transition: fill 0.3s;
        z-index: 2;
      }

      &:hover {
        transform: scale(1);
        z-index: 3;
        path {
          fill: #6648c2;
        }
      }
    }
    &:hover {
      .continent {
        cursor: pointer;
        transform: scale(1);

        path {
          fill: #6648c2;
        }

        &:hover {
          transform: scale(1);
          z-index: 3;
          path {
            fill: #6648c2;
          }
        }
      }
    }
  }
}
