.breadcrumb {
  margin-bottom: 25px;

  a,
  div {
    font-size: 15px;
    font-weight: 600;
  }

  a {
    text-decoration: underline;
    color: #be66d6;
    position: relative;
    margin-right: 20px;
    white-space: nowrap;

    &::after {
      content: '\f105';
      font-family: 'FontAwesome';
      position: absolute;
      font-size: 12px;
      right: -12px;
      top: 50%;
      transform: translate(0, -50%);
    }

    &:last-of-type {
      &::after {
        color: #4b4044;
      }
    }
  }

  span {
    color: #4b4044;
  }
}
