.person {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  font-weight: 400;
  font-style: italic;
  display: grid;
  grid-template-columns: 100px auto;
  grid-column-gap: 20px;
  align-items: center;

  > div {
    display: grid;
    align-items: center;
  }

  &--big {
    font-size: 24px;
    grid-template-columns: 70px auto;
  }

  &__avatar {
    width: 100px;

    &--small {
      width: 70px;
    }
  }

  &__role {
    font-size: 14px;
    font-style: italic;
    color: #c8c8c8;

    &--normal {
      font-size: 17px;
      font-style: normal;
    }
  }
}

.person-list {
  display: grid;
  grid-template-columns: 70px auto 70px 70px 70px 70px;
  text-align: right;
  grid-column-gap: 20px;
  font-size: 12px;
  line-height: 30px;
  color: #4b4044;
  font-weight: 400;

  .fa {
    color: $PRIMARY;
    font-size: 24px;
  }
}

.person-list-header {
  padding: 0 40px;
  margin-top: 30px;
  margin-bottom: 5px;
  text-transform: uppercase;

  .sort {
    cursor: pointer;
    .fa {
      font-size: 12px;
    }
  }
}
